<ul class="nav nav-tabs">
    <li role="presentation"><a href="/organization/id/{{organizationId}}">Home</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/orders">Bestellungen</a></li>
    <li role="presentation"><a href="/#/organizations/{{organizationId}}/articles">Material</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/members">Mitglieder</a></li>
    <li role="presentation" class="active"><a href="/management/{{organizationId}}#/applications">Beitrittsanfragen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/settings">Einstellungen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/files">Dateien</a></li>
</ul>

<h2>Beitrittsanfragen</h2>
<p>
    <input type="text" ng-model="search" class="form-control" placeholder="Suchen">
</p>
<table class="table">
    <thead>
        <tr>
            <th><a href="" ng-click="orderBy('firstName')">Vorname</a></th>
            <th><a href="" ng-click="orderBy('lastName')">Nachname</a></th>
            <th><a href="" ng-click="orderBy('jsNumber')">J+S-Nummer</a></th>
            <th><a href="" ng-click="orderBy('emailAddress')">E-Mail-Adresse</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="application in filtered = (applications | filter:search) | orderBy:order">
            <td>{{application.firstName}}</td>
            <td>{{application.lastName}}</td>
            <td>{{application.jsNumber}}</td>
            <td>{{application.email}}</td>
            <td ng-show="(application.isApproved != true) && (application.isRejected != true)">
                <a class="btn btn-success" href="" ng-click="approve(application)">Bestätigen</a>
                <a class="btn btn-default" href="" ng-click="reject(application)">Ablehnen</a>
            </td>
            <td ng-show="application.isApproved">Bestätigt!</td>
            <td ng-show="application.isRejected">Abgelehnt!</td>
        </tr>
    </tbody>
</table>
<div x-ph-alert-no-results />
<div x-ph-alert-loading />