<h2>Verträge</h2>

<div class="search">
    <p>
        <input type="text" ng-model="search.$" class="search-query" placeholder="Suchen">
    </p>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><a href="" ng-click="orderBy('contractId')">Nummer</a></th>
            <th><a href="" ng-click="orderBy('createdOn')">Erstellt</a></th>
            <th><a href="" ng-click="orderBy('signedOn')">Gezeichnet</a></th>
            <th><a href="" ng-click="orderBy('borrowerFirstName')">Vorname</a></th>
            <th><a href="" ng-click="orderBy('borrowerLastName')">Nachname</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contract in filteredContracts = (contracts | filter:search) | orderBy:order">
            <td>{{contract.contractId}}</td>
            <td>{{contract.createdOn | date: 'medium'}}</td>
            <td>{{contract.signedOn | date: 'medium'}}</td>
            <td>{{contract.borrowerFirstName}}</td>
            <td>{{contract.borrowerLastName}}</td>
            <td><a class="btn btn-small" ng-click="openContract(contract)">Öffnen</a></td>
        </tr>
    </tbody>

</table>
<div ng-hide="filteredContracts.length" class="alert alert-info no-results">
    <p>Deine Suche ergab keine Treffer... 😕</p>
</div>
