@{
    ViewBag.Title = "E-Mail-Adresse ändern";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Konto
}

<h2>E-Mail-Adresse ändern</h2>
<p>Ein Bestätigungs-E-Mail wurde an die neue E-Mail-Adresse geschickt.</p>
