@using Phundus.Web
@{
    ViewBag.Title = "E-Mail-Adressen-Validierung";
}

<h2>E-Mail-Adresse-Änderung</h2>

<p>Deine E-Mail-Adresse wurde erfolgreich geändert.</p>

<p>Du kannst dich nun <a href="/#/login">anmelden</a>.</p>