@{
    ViewBag.Title = "Registrieren";
}

<h2>Registrieren</h2>

<p>Um die Registrierung abzuschliessen, musst du deine E-Mail-Adresse validieren. Dazu wurde dir ein E-Mail geschickt, in welchem sich einen Link befindet, um die Registrierung abzuschliessen.</p>

<p>Falls du eine Organisation ausgewählt hast, wird nun deine Mitgliedschaftsanfrage manuell überprüft. Gewisse Materialien sowie die Vorzugspreise der Organisation stehen dir bis dahin noch nicht zur Verfügung. Du erhälst eine Benachrichtigung per E-Mail sobald du für die Organisation freigegeben wurdest.</p>
