@using Phundus.Web
@{
    ViewBag.Title = "Validierung";
}

<h2>Validierung</h2>

<p>Deine E-Mail-Adresse wurde erfolgreich bestätigt. Du kannst dich jetzt @Html.ActionLink("anmelden", AccountActionNames.LogOn, ControllerNames.Account) und mit dieser E-Mail-Adresse und deinem Passwort den phundus durchstöbern und interessante Artikel gleich reservieren.</p>

<p>Einige Organisation verleihen gewisses Material nur an ihre Mitglieder. Prüfe doch daher auch die verschiedenen Organisationen und beantrage eine Mitgliedschaft, wo du auch real dazugehörst.</p>

<p>Wir wünschen dir viel Spass dabei!</p>

<p>Du kannst dich nun @Html.ActionLink("anmelden", AccountActionNames.LogOn, ControllerNames.Account).</p>