@{
    ViewBag.Title = "Validierung";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Validierung
}

<h2>Validierung</h2>

<p>Deine E-Mail-Adresse wurde erfolgreich bestätigt. In den kommenden Tagen wird das Sekretariat der Pfadi Luzern deine J+S-Kennung prüfen. Du kannst aber bereits jetzt mit deinem Login den Material-Fundus durchstöbern und reservieren. Wir wünschen dir viel Spass dabei und danken ganz herzlich für dein Engagement, mit welchem du deiner Gruppe wichtige Erfahrungen ermöglichst.</p>

<p>Du kannst dich nun @Html.ActionLink("anmelden", "LogOn", "Account").</p>