@{
    ViewBag.Title = "Registrieren";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Registrieren
}

<h2>Registrieren</h2>

<p>Um die Registrierung abzuschliessen, müssen Sie Ihre E-Mail-Adresse validieren. Dazu wurde Ihnen ein E-Mail geschickt, in welchem sich einen Link befindet, um die Registrierung abzuschliessen.</p>
