@model SendTestEmailViewModel
       
       <div class="modal hide fade" id="modal-send-test-email">
        @using (Ajax.BeginForm(SettingsActionNames.SendTestEmail, ControllerNames.Settings,
                new AjaxOptions { 
                    //OnComplete="$('#modal-send-test-email').modal('hide');",
                    OnSuccess = "$('#modal-send-test-email').modal('hide');fundus.messageBox('Information', 'Das E-Mail wurde erfolgreich versendet.');",
                    OnFailure = "$('#modal-send-test-email .modal-body').html(xhr.responseText);" }, new { style = "margin: 0px" }))
        {
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Test-E-Mail senden</h3>
            </div>
            <div class="modal-body">
                @Html.EditorForModel()
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
                <input type="submit" class="btn btn-primary" value="Test-E-Email senden" />
            </div>  
        }
    </div>