@model phiNdus.fundus.Web.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "Bestellung abgeschlossen";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
     @Html.ActionLink("Warenkorb", "CheckOut") &gt; &Uuml;bersicht
}


<h2>@ViewBag.Title</h2>
<p>Die Bestellung wurde... Sie haben ein E-Mail... Bla...</p>