@model phiNdus.fundus.Web.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "Bestellung abgeschlossen";
}

<h2>@ViewBag.Title</h2>
<p>Vielen Dank! Das Material wurde im angegebenen Zeitraum für Dich reserviert.</p>
<p>Die Materialstelle bearbeitet Deine Anfrage in den kommenden Tagen. Nach dieser manuellen Überprüfung erhältst Du eine Buchungsbestätigung an Deine registrierte E-Mail-Adresse.</p>