bin/
obj/
/*.suo

src/phiNdus.fundus.Web/App_Data/Elmah/*
src/phiNdus.fundus.Web/App_Data/Logs/*
src/phiNdus.fundus.Web/App_Data/Mails/*
src/phiNdus.fundus.Web/App_Data/Storage/*
src/phiNdus.fundus.Web/App_Data/SchemaUpdate.sql
