@model phiNdus.fundus.Core.Web.Models.ArticleModel

@{
    ViewBag.Title = "Delete";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index") &gt; Löschen
}

@*<h2>Delete</h2>*@

<p>Sind Sie sicher, dass Sie den Artikel löschen möchten?</p>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Löschen" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
