@model phiNdus.fundus.Core.Web.Models.ArticleEditModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ArticleEditModel</legend>

    @foreach (var each in Model.Item.Properties)
    {
        <div class="display-label">@each.Caption</div>
        <div class="display-field">
            @Html.DisplayFor(model => each.ValueAsString)
        </div>
    }
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
