@model ArticleViewModel
           
@{
    ViewBag.Title = "Artikel bearbeiten";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index") &gt; Bearbeiten
}

<h2>Artikel bearbeiten</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    @Html.EditorForModel()
    
    <p>
        <input type="submit" value="Speichern" /> | @Html.ActionLink("Abbrechen", "Index")
    </p>
}