@model phiNdus.fundus.Web.ViewModels.ShopArticleViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Grösse</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Article.Documents)
        {
            <tr>
                <td><a href="@Html.Raw(Url.Content(each.FileName))">@Path.GetFileName(each.FileName)</a></td>
                <td>@each.Length</td>
            </tr>
        }
    </tbody>
</table>