@model ShopSearchResultViewModel

<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Preis pro Woche</th>
            <th style="width: 60px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Articles) {
            <tr>
                <td>@each.Caption</td>
                <td>CHF @each.Price.ToString("N")</td>
                <td>@Html.ActionLink("Details", "Article", new { id = each.Id }, new { @class = "btn fundus-shop-showArticle", article_id = each.Id })</td>
            </tr>
        }
    </tbody>
</table>
@Html.DisplayFor(m => m.PageSelectorModel)