@model FieldViewModel

@{
    ViewBag.Title = "Eigenschaft \"" + Model.Caption + "\" löschen";
}

<h2>Materialeigenschaften</h2>
<p></p>
@using (Html.BeginForm())
{
    <fieldset>
    <legend>@ViewBag.Title</legend>
    @Html.HiddenFor(m => m.Version)

    <p>Möchten Sie diese Eigenschaft wirklich löschen?</p>
    <p>Alle Werte die auf Artikeln in diesem Feld gespeichert sind, gehen verloren.</p>
    <p>Dieser Vorgang kann nicht rückgängig gemacht werden.</p>
    
    <div class="form-actions">
        @Html.SubmitButton("Ja, löschen!", "btn-danger")
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, FieldsActionNames.Index)
    </div>
</fieldset>    
}
