@inherits System.Web.Mvc.WebViewPage<dynamic>

@if (Request.IsAuthenticated) {
    @Html.ActionLink("Benutzer", "Index", "User")
    @Html.ActionLink("Artikel", "Index", "Article")
} else { 
    <a href="#">HOME</a>
}