@{
    ViewBag.Title = "Shop";
}

@section Breadcrumbs {
     @Html.ActionLink("Shop", "Index") &gt; &Uuml;bersicht
}

<div class="row">
    <div class="span1">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="span5" style="padding-top:5px;">
        @using (Ajax.BeginForm("Search", "Shop", new AjaxOptions { HttpMethod = "POST", UpdateTargetId="search-results"  }, new { @class = "form-search" }))
        {
            <input type="text" name="query" class="input-medium search-query" />
            <button type="submit" class="btn">Suchen</button>
        }
    </div>
    <div class="span6">
        <div class="toolbar pull-right">
            <div class="btn-group">
                <a class="btn" href="#"><i class="icon-th-large"></i></a>
                <a class="btn" href="#"><i class="icon-th"></i></a>
                <a class="btn" href="#"><i class="icon-th-list"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="search-results">
</div>
