@model ShopSearchResultViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Articles) {
            <tr>
                <td>@each.Caption</td>
                <td>@Html.ActionLink("Details", "Article", new { id = each.Id }, new { @class = "btn fundus-shop-showArticle", article_id = each.Id })</td>
            </tr>
        }
    </tbody>
</table>