@model ShopSearchResultViewModel

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Articles) {
            <tr>
                <td>@each.Caption</td>
                
                <td>@Ajax.ActionLink("Details", "Article", new { id = each.Id },
                    new AjaxOptions {
                        OnComplete="fundus.shop.sayHello()"
                    })</td>
            </tr>
        }
    </tbody>
</table>