@{
    ViewBag.Title = "Validierung";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Validierung
}

<h2>Validierung</h2>

<p>Vielen Dank.</p>

<p>Sie können sich nun @Html.ActionLink("anmelden", "LogOn", "Account").</p>