<h2>Vertrag</h2>

<div x-ph-alert-loading />

<div ng-show="isLoaded" class="row">
    <div class="span12">
        <p>Nummer: {{contract.contractId}}</p>
        <p>Datum: {{contract.createdOn | date:'medium'}}</p>
    </div>
</div>

<table ng-show="isLoaded" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Menge</th>
            <th>Stückpreis</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

<div class="row">
    <div class="span6">
        <a class="btn" href="" ph-history-back>Zurück</a>
        <a ng-show="isLoaded" class="btn" href="/api/contracts/{{contract.contractId}}.pdf">PDF</a>
    </div>
    <div ng-show="isLoaded" class="span6" style="text-align:right">

    </div>
</div>
