<h2>Meine Bestellungen</h2>

<table class="table">
    <thead>
        <tr>
            <th colspan="8">
                <div class="row">
                    <div class="col-sm-4 col-lg-3">
                        <select class="form-control" ng-model="search.status">
                            <option value="">Alle</option>
                            <option value="Pending">Provisorisch</option>
                            <option value="Approved">Bestätigt</option>
                            <option value="Rejected">Abgelehnt</option>
                            <option value="Closed">Abgeschlossen</option>
                        </select>
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        <input type="text" ng-model="search.$" class="form-control" placeholder="Suchen...">
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th><a href="" ng-click="orderBy('orderId')">Nummer</a></th>
            <th><a href="" ng-click="orderBy('organizationName')">Organisation</a></th>
            <th><a href="" ng-click="orderBy('createdUtc')">Erstellt</a></th>
            <th><a href="" ng-click="orderBy('status')">Status</a></th>
            <th><a href="" ng-click="orderBy('modifiedUtc')">Bearbeitet</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in filtered = (orders | filter:search) | orderBy:order">
            <td>{{order.orderId}}</td>
            <td>{{order.organizationName}}</td>
            <td>{{order.createdUtc | date:'medium'}}</td>
            <td>{{order.status | orderStatusText}}</td>
            <td>{{order.modifiedUtc | date:'medium'}}</td>
            <td style="text-align:right">
                <a class="btn btn-default btn-sm" ng-click="openOrder(order)">Öffnen</a>
                <a class="btn btn-default btn-sm" href="/api/orders/{{order.orderId}}.pdf">PDF</a>
            </td>
        </tr>
    </tbody>
</table>
<div x-ph-alert-no-results />
<div x-ph-alert-loading />
