<h2>Bestellung</h2>

<div x-ph-alert-loading />

<div ng-show="isLoaded" class="row">
    <div class="span6">
        <p>Nummer: {{order.orderId}}</p>
        <p>Status: {{order.status | orderStatusText}}</p>       
    </div>
    <div class="span6">
        <p>Erstellt: {{order.createdOn | date:'medium'}}</p>
        <p>Bearbeitet: {{order.modifiedOn | date:'medium'}}</p>
    </div>
</div>

<table ng-show="isLoaded" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Verfügbar</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Menge</th>
            <th>Stückpreis</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in order.items">
            <td>{{item.text}}</td>
            <td ng-show="item.isAvailable"><i class="icon-ok"></i></td>
            <td ng-show="!item.isAvailable"><i class="icon-remove"></i></td>
            <td>{{item.from | date:'mediumDate'}}</td>
            <td>{{item.to | date:'mediumDate'}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.unitPrice | currency}}</td>
            <td>{{item.itemTotal | currency}}</td>
        </tr>

        <tr style="font-weight:bold">
            <td colspan="6" style="text-align:right;">Total</td>
            <td>{{order.totalPrice | currency}}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="span6">
        <a class="btn" href="" ph-history-back>Zurück</a>
        <a ng-show="isLoaded" class="btn" href="/api/orders/{{order.orderId}}.pdf">PDF</a>
    </div>
    <div ng-show="isLoaded" class="span6" style="text-align:right">
    </div>
</div>
