@model phiNdus.fundus.Web.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "Bestellung abgeschlossen";
}

<h2>@ViewBag.Title</h2>
<p>Die Bestellung wurde... Sie haben ein E-Mail... Bla...</p>