<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
               xmlns:hib="urn:nhibernate-configuration-2.2">
  <appSettings>
    <add key="FeedbackRecipients" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerUrl" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MigrationTags" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MigrationProfile" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="phundus"
         connectionString=""
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <hib:hibernate-configuration>
    <hib:session-factory>
      <hib:property name="connection.driver_class" xdt:Locator="Match(name)" xdt:Transform="Replace">NHibernate.Driver.SqlClientDriver</hib:property>
      <hib:property name="dialect" xdt:Locator="Match(name)" xdt:Transform="Replace">NHibernate.Dialect.MsSql2008Dialect</hib:property>
    </hib:session-factory>
  </hib:hibernate-configuration>

  <log4net>
    <root>
      <level xdt:Transform="SetAttributes" value="INFO"  />      
    </root>
    <logger xdt:Transform="Remove" xdt:Locator="Condition(@name='NHibernate')" />
    <logger xdt:Transform="Remove" xdt:Locator="Condition(@name='NHibernate.SQL')" />
  </log4net>

	<system.net>
		<mailSettings>
			<smtp from="" xdt:Transform="Replace">
				<network host="smtp.mailgun.org" port="587" enableSsl="true" userName="postmaster@mg.phundus.ch" password=""/>
			</smtp>
		</mailSettings>
	</system.net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
