<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="FeedbackRecipients" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServerUrl" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="phundus" connectionString=""
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp xdt:Transform="SetAttributes" from="">
        <network xdt:Transform="SetAttributes" host="localhost" />
        <network xdt:Transform="RemoveAttributes(userName,password)"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.net>
    <mailSettings>
      <smtp from="no-reply@phundus.ch"
            xdt:Transform="SetAttributes">
        <network host="localhost"
                 xdt:Transform="SetAttributes"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>