<h2>Material</h2>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li><a ng-href="./article/edit/{{articleId}}">Eigenschaften</a></li>
        <li><a ng-href="./article/files/{{articleId}}">Dateien</a></li>
        <li><a ng-href="./article/categories/{{articleId}}">Kategorien</a></li>
        <li class="active"><a href="#">Bestand</a></li>
        <li><a ng-href="./article/availability/{{articleId}}">Verfügbarkeit</a></li>
        <li><a href="#articles/{{articleId}}/reservations">Reservationen 2</a></li>
        <li><a ng-href="./article/reservations/{{articleId}}">Reservationen</a></li>      
    </ul>

    <div class="tab-content">
        <div id="tab-content">
            
            <div class="row" ng-show="((!isLoading) && (stockId == null))" style="margin-bottom:50px">
                <div class="span12">
                    <p style="text-align:center; margin-top:50px">
                        <a class="btn btn-large btn-primary" ng-click="createStock()">Neuer Bestand</a>
                    </p>
                </div>
            </div>
            
            <table class="table" ng-show="(isLoaded && (stockId != null))">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Änderung</th>
                        <th>Total</th>
                        <th>Kommentar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quantity in quantities">
                        <td>{{quantity.asOfUtc | date:'medium'}}</td>
                        <td>{{quantity.change}}</td>
                        <td>{{quantity.total}}</td>
                        <td>{{quantity.comment}}</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="row" ng-show="(isLoaded && (stockId != null))">
                <div class="span6" style="text-align:left">
                    <a class="btn" ng-click="changeQuantity()">Bestand ändern</a>
                </div>
                <div class="span6">
                </div>
            </div>
        </div>
    </div>
</div>