@model ArticleViewModel

@using (Html.BeginForm("Fields", "Article", FormMethod.Post, new {@class = ""}))
{
    @Html.EditorForModel()

    <div class="form-actions">
        @Html.SubmitButton("Speichern")
    </div>
}
