@model Phundus.Web.Models.ArticleModels.ArticleReservationsModel

      
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Von</th>
            <th>Bis</th>
            <th>Anzahl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Items)
        {
            <tr>
                <td>@Html.DisplayFor(m => each.FromLocal)</td>
                <td>@Html.DisplayFor(m => each.ToLocal)</td>
                <td>@Html.DisplayFor(m => each.Amount)</td>
            </tr>
        }
    </tbody>
</table>