@{
    ViewBag.Title = "Index";
}

@section Breadcrumbs {
    <a href="#">Home</a> &gt; Index
}


<div class="hero-unit">
    <h1>Materialverleih der Pfadi Luzern</h1>
    <p>Das Leihmaterial der Pfadi Luzern umfasst unterstützende Materialien für die animatorische Tätigkeiten im Outdoor Bereich. Das Angebot wird in die fünf Kategorien, Aktivitäten, Technik, Wasser, Berg und Event eingeteilt und kann direkt über das Materialverwaltungsprogramm „fundus“ durchstöbert und reserviert werden. Viel Spass dabei!</p>
    <p><a class="btn btn-primary btn-large" href="@Url.Action("Index", "Shop")">zum Shop »</a></p>
</div>
<div class="row">
    
    <div class="span5">
        <h2>Pfadi Luzern</h2>
        <p>Hier vielleicht eine Beschreibung was fundus ist?</p>
        <p>Hinweis auf den Vermieter, Pfadi, Stiftung.</p>
        <p>Fötelis vom Lager oder so. Keine Ahnung.</p>
        <p>Meiner Meinung vielleicht auch gleich ein Suchformular, oder die wichtigsten Funktionen verlinken.</p>
        <p>Und ganz wichtig: Telefonnummer und Adresse. Nichts ärgerlicher als die Kontaktdaten nicht zu finden!</p>
    </div>
    <div class="span5">
        <h2>Standort</h2>
        <iframe width="470" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps/ms?msa=0&amp;msid=213582391938164233090.0004ba870e30240878218&amp;hl=de&amp;ie=UTF8&amp;ll=47.036604,8.310646&amp;spn=0,0&amp;t=h&amp;output=embed"></iframe>
        <p><small><a href="http://maps.google.ch/maps/ms?msa=0&amp;msid=213582391938164233090.0004ba870e30240878218&amp;hl=de&amp;ie=UTF8&amp;ll=47.036604,8.310646&amp;spn=0,0&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">Sekretariat</a> auf einer größeren Karte anzeigen</small></p>
    </div>
    <div class="span2">
        <h2>Kontakt</h2>
        <address>
            <strong>Pfadi Luzern</strong><br />
            Sekretariat<br />
            Rodteggstrasse 3<br />
            6005 Luzern<br /><br />
            <abbr title="Telefon">T:</abbr>
            041 368 40 35<br />
            <abbr title="Telefax">F:</abbr>
            041 368 42 94
        </address>
    </div>
</div>
