@model ArticleViewModel

@{
    ViewBag.Title = "Neuer Artikel erfassen";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index") &gt; Erfassen
}

<h2>Neuer Artikel erfassen</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.EditorForModel()    
    
    <p>
        <input type="submit" name="create" value="Speichern" /> | @Html.ActionLink("Abbrechen", "Index")
    </p>
}

