@model ArticleViewModel

@{
    ViewBag.Title = "Artikel löschen";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index") &gt; Löschen
}

<h2>Material</h2>
@using (Html.BeginForm()) {
    <fieldset>
    <legend>@ViewBag.Title</legend>
    <p>Möchten Sie diesen Artikel wirklich löschen?</p>
    <div class="form-actions">
        @Html.SubmitButton("Ja, löschen!", ButtonClass.Danger)
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, "Index")
    </div>
    </fieldset>
}
