@model PropertyValueViewModel
@using Phundus.Core.Inventory._Legacy.Dtos

<div class="display-label">
    @Html.DisplayFor(m => m.Caption)
</div>
<div class="display-field">
    @switch (Model.DataType)
    {
        case FieldDataType.Boolean:
            @Html.DisplayFor(m => m.BooleanValue);
            break;
        default:
            @Html.DisplayFor(m => m.StringValue);
            break;
    }
</div>
