<ul class="nav nav-tabs">
    <li role="presentation"><a href="/organization/id/{{organizationId}}">Home</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/orders">Bestellungen</a></li>
    <li role="presentation"><a href="/#/organizations/{{organizationId}}/articles">Material</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/members">Mitglieder</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/applications">Beitrittsanfragen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/settings">Einstellungen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/files">Dateien</a></li>
</ul>

<h2>Vertrag</h2>

<div x-ph-alert-loading />

<div ng-show="isLoaded" class="row">
    <div class="col-lg-12">
        <p>Nummer: {{contract.contractId}}</p>
        <p>Datum: {{contract.createdOn | date:'medium'}}</p>
        <p>Ausleiher: {{contract.borrowerFirstName}} {{contract.borrowerLastName}}, {{contract.borrowerEmail}}</p>
    </div>
</div>

<table ng-show="isLoaded" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Menge</th>
            <th>Stückpreis</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-default" href="" ph-history-back>Zurück</a>
        <a ng-show="isLoaded" class="btn btn-default" href="/api/organizations/{{organizationId}}/contracts/{{contracts.contractId}}.pdf">PDF</a>
    </div>
    <div ng-show="isLoaded" class="col-lg-6" style="text-align:right">
        <a class="btn btn-primary" href="" ng-click="signContract(contract)">Unterzeichnen</a>
        <a class="btn btn-danger" href="" ng-click="rescindContract(contract)">Annulieren</a>
    </div>
</div>
