<ul class="nav nav-tabs">
    <li role="presentation"><a href="/organization/id/{{organizationId}}">Home</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/orders">Bestellungen</a></li>
    <li role="presentation"><a href="/article/{{organizationId}}">Material</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/members">Mitglieder</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/applications">Beitrittsanfragen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/settings">Einstellungen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/files">Dateien</a></li>
</ul>

<h2>Verträge</h2>


<form class="form-inline">
    <p>
        <input type="text" ng-model="search.$" class="search-query" placeholder="Suchen">
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th><a href="" ng-click="orderBy('contractId')">Nummer</a></th>
            <th><a href="" ng-click="orderBy('createdOn')">Erstellt</a></th>
            <th><a href="" ng-click="orderBy('signedOn')">Gezeichnet</a></th>
            <th><a href="" ng-click="orderBy('borrowerFirstName')">Vorname</a></th>
            <th><a href="" ng-click="orderBy('borrowerLastName')">Nachname</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contract in filtered = (contracts | filter:search) | orderBy:order">
            <td>{{contract.contractId}}</td>
            <td>{{contract.createdOn | date: 'medium'}}</td>
            <td>{{contract.signedOn | date: 'medium'}}</td>
            <td>{{contract.borrowerFirstName}}</td>
            <td>{{contract.borrowerLastName}}</td>
            <td style="text-align: right">
                <a class="btn btn-small" ng-click="openContract(contract)">Öffnen</a>
            </td>
        </tr>
    </tbody>
</table>
<div x-ph-alert-no-results />
<div x-ph-alert-loading />

