<ul class="nav nav-tabs">
    <li role="presentation"><a href="/#/organizations/{{organizationId}}">Home</a></li>
    <li role="presentation" class="active"><a href="/management/{{organizationId}}#/orders">Bestellungen</a></li>
    <li role="presentation"><a href="/#/organizations/{{organizationId}}/articles">Material</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/members">Mitglieder</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/applications">Beitrittsanfragen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/settings">Einstellungen</a></li>
    <li role="presentation"><a href="/management/{{organizationId}}#/files">Dateien</a></li>
</ul>

<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="8">
                <div class="row">
                    <div class="col-sm-4 col-lg-3">
                        <select class="form-control" ng-model="search.status">
                            <option value="">Alle</option>
                            <option value="Pending">Provisorisch</option>
                            <option value="Approved">Bestätigt</option>
                            <option value="Rejected">Abgelehnt</option>
                            <option value="Closed">Abgeschlossen</option>
                        </select>
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        <input type="text" ng-model="search.$" class="form-control" placeholder="Suchen...">
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th><a href="" ng-click="orderBy('orderId')">Nummer</a></th>
            <th><a href="" ng-click="orderBy('createdUtc')">Erstellt</a></th>
            <th><a href="" ng-click="orderBy('borrowerFirstName')">Vorname</a></th>
            <th><a href="" ng-click="orderBy('borrowerLastName')">Nachname</a></th>
            <th><a href="" ng-click="orderBy('borrowerMemberNummer')">J+S/Info Card</a></th>
            <th><a href="" ng-click="orderBy('status')">Status</a></th>
            <th><a href="" ng-click="orderBy('modifiedUtc')">Bearbeitet</a></th>
            <th class="text-right">
                <a class="btn btn-primary btn-sm" href="" ng-click="createOrder()">Neue Bestellung</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in filtered = (orders | filter:search) | orderBy:order">
            <td>{{order.orderId}}</td>
            <td>{{order.createdUtc | date:'medium'}}</td>
            <td>{{order.borrowerFirstName}}</td>
            <td>{{order.borrowerLastName}}</td>
            <td>{{order.borrowerMemberNumber}}</td>
            <td>{{order.status | orderStatusText}}</td>
            <td>{{order.modifiedUtc | date:'medium'}}</td>
            <td style="text-align:right">
                <a class="btn btn-default btn-xs" ng-click="openOrder(order)">Öffnen</a>
                <a class="btn btn-default btn-xs" href="/api/organizations/{{organizationId}}/orders/{{order.orderId}}.pdf">PDF</a>
            </td>
        </tr>
    </tbody>
</table>
<div x-ph-alert-no-results />
<div x-ph-alert-loading />



<div class="modal" id="modal-createOrder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Neue Bestellung</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputArticleId">Benutzer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputArticleId" placeholder="" ng-model="newOrder.userName">
                            <span class="help-inline">Benutzer-Id oder E-Mail-Adresse</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" ng-click="createOrderOk(newOrder)" data-dismiss="modal">Erstellen</a>
                <a href="#" class="btn btn-default" data-dismiss="modal">Abbrechen</a>
            </div>
        </div>
    </div>
</div>