@using Phundus.Web
@{
    ViewBag.Title = "Index";
}

@section Breadcrumbs {
    <a href="#">Home</a> &gt; Index
}


<div class="hero-unit">
    <h1>Materialverleih der Pfadi Luzern</h1>
    <p>Mit der hier gewählten Web-Anwendung greifst du auf einen guten FUNDUS von verschiedensten Leihmaterialen zu. Das zur Verfügung stehende Equipment soll dich bei deinem Verbandsengagement unterstützen und neue Möglichkeiten schaffen. Viel Spass dabei!</p>
    <p><a class="btn btn-primary btn-large" href="@Url.Action("Index", ControllerNames.Shop)">zum Shop »</a></p>
</div>
<div class="row">
    
    <div class="span5">
        <h2>Neu hier?</h2>
        <p>Der Material-Fundus der Pfadi Luzern steht allen Personen offen welche sich in der Jungendarbeit engagieren. Um Artikel reservieren zu können musst du dich zuerst mit deiner J+S Nummer registrieren. Du kannst aber natürlich auch zuerst einmal unverbindlich einen Blick auf das Leihmaterial im Shop werfen…</p>
        <p>…passendes Material nicht gefunden? Wirf auch einen Blick auf das Leihmaterial der JuBla Luzern. Unsere Angebote ergänzend sich und stehen beiden Verbänden offen.</p>
    </div>
    <div class="span5">
        <h2>Standort</h2>
        <iframe width="470" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps/ms?msa=0&amp;msid=213582391938164233090.0004ba870e30240878218&amp;hl=de&amp;ie=UTF8&amp;ll=47.036604,8.310646&amp;spn=0,0&amp;t=h&amp;output=embed"></iframe>
        <p><small><a href="http://maps.google.ch/maps/ms?msa=0&amp;msid=213582391938164233090.0004ba870e30240878218&amp;hl=de&amp;ie=UTF8&amp;ll=47.036604,8.310646&amp;spn=0,0&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">Sekretariat</a> auf einer größeren Karte anzeigen</small></p>
    </div>
    <div class="span2">
        <h2>Kontakt</h2>
        <address>
            <strong>Pfadi Luzern</strong><br />
            Sekretariat<br />
            Rodteggstrasse 3<br />
            6005 Luzern<br /><br />
            <abbr title="Telefon">T:</abbr>
            041 368 40 35<br />
            <abbr title="Telefax">F:</abbr>
            041 368 42 94
        </address>
    </div>
</div>
