@model FieldViewModel
           
<div class="display-label">
    Name
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Item.Caption)
</div>
<div class="display-label">
    Datentyp
</div>
<div class="display-field">
    @Model.Item.DataType.ToString()
</div>
<div class="display-label">
    Systemeigenschaft
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Item.IsSystem)
</div>
<div class="display-label">
    Standard beim Erfassen eines neuen Artikels
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Item.IsDefault)
</div>