@model phiNdus.fundus.Web.Models.Organization.OrganizationModel
@{
    ViewBag.Title = Model.Name;
}

<div class="row-fluid" ng-app="organization">
    <div class="span6">
        <h2>@Model.Name</h2>
        @Html.Raw(Model.Startpage)
    </div>
    <div class="span6">
        @if (Model.HasOptions)
        {
            <h3>Mitgliedschaft</h3>
            if (Model.HasOptionJoin)
            {
                <p>Sie können dieser Organisation <a href="" class="btn btn-small">beitreten</a>.</p>
            }
            else if (Model.HasOptionLeave)
            {
                <p>Sie können aus dieser Organisation <a href="" class="btn btn-small">austreten</a>.</p>
            }
            else
            {
                <p>Ihr Beitritt wurde bereits beantragt.</p>
            }
        }

        @if (!String.IsNullOrWhiteSpace(Model.Address))
        {
            <h3>Kontakt</h3>
            <address>
                @foreach (var each in Model.Address.Replace('\r', '\n').Split('\n'))
                {
                    @each<br/>
                }
            </address>
        }
        @if(!String.IsNullOrWhiteSpace(Model.Coordinate))
        {
            <h3>Karte</h3>

            <iframe width="570" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://maps.google.ch/maps/ms?msa=0&amp;msid=213582391938164233090.0004ba870e30240878218&amp;hl=de&amp;ie=UTF8&amp;ll=@Model.Coordinate&amp;spn=0,0&amp;t=h&amp;output=embed"></iframe>
        }
        
    </div>
</div>