@{
    ViewBag.Title = "Members";
}

<h2>Mitglieder</h2>

<!-- TODO: http://docs.angularjs.org/api/ng.$routeParams -->
<div class="row-fluid" ng-app="members" ng-init="organizationId=@Session["OrganizationId"];">
    <div ng-view></div>
</div>



