<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" /> 
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ServerUrl" value="localhost" />
		<add key="FeedbackRecipients" value="admin@test.phundus.ch" />
		<add key="MaintenanceMode" value="False" />
		<add key="MigrationTags" value="" />
		<add key="MigrationProfile" value="ResetDatabase" />
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="true" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="Admin" />
		<add key="elmah.mvc.allowedUsers" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
	</appSettings>
	<connectionStrings> 
		<add name="phundus" connectionString="Server=localhost\SQLEXPRESS; Database=phundus-dev; User Id=sa; Password=1234" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Facilities.AutoTx" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.206.2206" newVersion="3.1.206.2206" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Transactions" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.206.2206" newVersion="3.1.206.2206" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Facilities.FactorySupport" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.connection_string_name">phundus</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="show_sql">false</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
		</session-factory>
	</hibernate-configuration>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="App_Data\Logs\Default.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1MB" />
			<maxSizeRollBackups value="2" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<logger name="Castle.Facilities.AutoTx">
			<level value="WARN" />
		</logger>
		<logger name="NHibernate">
			<level value="WARN" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="ERROR" />
		</logger>
	</log4net>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="no-reply@test.phundus.ch">
				<specifiedPickupDirectory pickupDirectoryLocation="~\App_Data\Mails" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/500.aspx">
			<error statusCode="400" redirect="~/400.aspx" />
			<error statusCode="404" redirect="~/404.aspx" />
			<error statusCode="500" redirect="~/500.aspx" />
		</customErrors>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Forms">
			<forms loginUrl="~/#/login" timeout="2880" />
		</authentication>
		<membership defaultProvider="CustomProvider">
			<providers>
				<clear />
				<add name="CustomProvider" type="Phundus.Web.Security.WebWindsorMembershipProvider" applicationName="phundus" providerId="MembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonAlphanumericCharacters="2" passwordAttemptWindow="10" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="CustomProvider">
			<providers>
				<clear />
				<add name="CustomProvider" type="Phundus.Web.Security.WebWindsorRoleProvider" applicationName="phundus" providerId="RoleProvider" />
			</providers>
		</roleManager>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="node/index.js" verb="*" modules="iisnode" />
		</handlers>
		<httpErrors errorMode="Custom" existingResponse="Auto">
			<remove statusCode="400" />
			<error statusCode="400" path="400.html" responseMode="File" />
			<remove statusCode="404" />
			<error statusCode="404" path="404.html" responseMode="File" />
			<remove statusCode="500" />
			<error statusCode="500" path="500.html" responseMode="File" />
		</httpErrors>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<rewrite>
			<rules>
				<rule name="CanonicalHostNameRule1" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^phundus\.ch$" />
					</conditions>
					<action type="Redirect" url="http://www.phundus.ch/{R:1}" />
				</rule>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTPS}" pattern="^OFF$" />
						<add input="{HTTP_HOST}" pattern="^www\.phundus\.ch$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
				<rule name="api-v0">
					<match url="api/v0/(.*)" />
					<action type="Rewrite" url="api/{R:1}" />
				</rule>
				<rule name="api-v1">
					<match url="api/v1/*" />
					<action type="Rewrite" url="node/index.js" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<elmah>
		<security allowRemoteAccess="true" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/Elmah" />
		<!--
		<errorMail from="no-reply@phundus.ch" to="mail@indr.ch"
             subject="[phundus] Elmah Error Report"
             async="true"
             smtpPort="0"
			 useSsl="false" />
			 -->
		<errorFilter>
			<test>
				<or>
					<regex binding="Exception.Message" pattern="^A potentially dangerous Request" />
					<regex binding="Exception.Message" pattern="^Ein möglicherweise gefährlicher Request" />
				</or>
			</test>
		</errorFilter>
	</elmah>
</configuration>