@model phiNdus.fundus.Core.Business.Dto.DtoProperty
@using phiNdus.fundus.Core.Web.Helpers           

@using (Html.BeginContainerFor(m => m))
{
<div class="editor-label">
    @Html.LabelFor(m => m.Value, Model.Caption)
    @*@Model.Caption*@
</div>
<div class="editor-field">
   @switch (Model.DataType)
   {
        case phiNdus.fundus.Core.Business.Dto.PropertyDataType.Boolean:
            @Html.CheckBoxFor(x => x.ValueAsBoolean);
            break;
        default:
            @Html.TextBoxFor(x => x.ValueAsString);
            break;
    }
    @Html.LinkToRemoveProperty("Entfernen", "div#" + Html.IdFor(m => m))
</div>
}

