@model phiNdus.fundus.Domain.Entities.Organization
@{
    ViewBag.Title = Model.Name;
}

<div class="row-fluid">
    <div class="span7">
        <h2>@Model.Name</h2>
        @Html.Raw(Model.Startpage)
    </div>
    <div class="span5">
        <h3>Karte</h3>

        <h3>Kontakt</h3>
        <address>
            @foreach (var each in Model.Address.Replace('\r', '\n').Split('\n'))
            {
                @each<br />
            }
        </address>
    </div>
</div>
