@model phiNdus.fundus.Domain.Entities.Organization
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<p>Startseite der Organisation @Model.Name</p>
<p>Diese Seite kann auch via phundus.ch/@Model.Url erreicht werden.</p>
