@{
    ViewBag.Title = "Organisationen";
}

<div ng-app="ph.organizations" ng-init="organizationId=@Session["OrganizationId"] + 0;">
    <div ng-view>
        <h2>Organisationen</h2>
        <p>Modul wird geladen. Bitte warten...</p>
    </div>
</div>
