/* TODO: Ich, Reto, habs einfach mal hingeklatscht. Merci jemand anderem :o) */


/* Icons von hier http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960 */
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/Content/Images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/Content/Images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/Content/Images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/Content/Images/error.png');
}




/* body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
}




# custom Styles (draft jac)
#-----------------------------------------------------------

.head-menu {
    background-color: #f0f0f0;
    border-bottom: solid 1px #109033;
    text-align: right;
    padding: 20px 5px 5px 0;
}

.main-menu 
{
    float: left;
}

a:link 
{
    text-decoration: none;
    
    color: #a2bc13;
}

a:visited 
{
    color: #a2bc13;
}

a:hover
{
    text-decoration: none;
    color: #ad0;
}

# Styles for basic forms
#-----------------------------------------------------------

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


# Styles for validation helpers
#-----------------------------------------------------------
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

# Custom Styles 

.formular-box {
    border:solid 1px #109033; 
    background:#f0f0f0; 
    margin: auto; 
    padding:20px;
}

*/
body {    
    font-family: Arial, Helvetica, Sans-Serif;
    color: #505050;
    background-color: #fff;
    margin: 0;
}

/* Menü ganz zuoberst 
---------------------------------------------------------*/
.upper-menu {
    background-color: #f0f0f0;    
    text-align: right;
    padding: 20px 5px 5px 0;
    text-transform: uppercase;
    font-weight:bold;
    font-size:10px;
}

.upper-menu a {
    padding-left:5px;
    padding-right:5px;
}

.upper-menu a:link {
    text-decoration:none;
}

.upper-menu a:visited {
    text-decoration:none;
}

/* Hauptmenu (das grüne teil)
---------------------------------------------------------*/
.main-menu {
    height: 40px;
    padding-top:10px;
    color: #fff;
    font-size:12px;
    background: url('Images/fundus-menu-bg.png') repeat-x #109033;
}

.main-menu a {
    margin-left: 30px;    
    line-height: 30px;    
    color:#fff;
}

.main-menu a:link {
    color:#fff;
}

.main-menu a:visited {
    color:#fff;
}

/* Brotkrümel (pfad zur aktuellen seite)
---------------------------------------------------------*/
.breadcrumb {
    background-color: #000;
    color:#999;
    text-transform: uppercase;
    font-size:10px;
    width: 80%;
    margin: auto;
    padding: 10px;
    line-height: 6px;
}

.breadcrumb a {
    padding-left:5px;
    padding-right:5px;
    color: #fff;
}

.breadcrumb a:link {
    text-decoration: none;    
    color: #fff;
}

.breadcrumb a:visited {
    color: #f0f0f0;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: #505050;
}


a:link {
    text-decoration: none;    
    color: #109033;
}

a:visited {
    color: #109033;
}

a:hover {
    text-decoration: none;
    color: #ad0; /*170 221 000 */
}

/* formularelemente
---------------------------------------------------------*/
input[type="text"] {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;    
}

input[type="password"] {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

input[type="submit"] {
    border: 1px solid #ccc;
    /*background-color: #109033;*/
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    width: 280px;
}

.text-input {
    border: 1px solid #ccc;
    width: 280px;
}

p.formular-item {
    /*margin-top: -10px;*/
}

p.formular-action {
    padding-top: 25px;
}

.formular-box label {
    color: #333;
    display: inline;
    font-weight: bold;
    padding-bottom: 3px;
    position: relative;
    /*font: 12px/1.55 Arial,Helvetica,sans-serif;*/
    font-size: 11px;
}

/* Validierung
---------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    display: inline;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 5px;
    position: relative;
    font: 12px/1.55 Arial,Helvetica,sans-serif;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
}

.validation-summary-errors {
    color: #f00;
    display: inline;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 5px;
    position: relative;
    font: 12px/1.55 Arial,Helvetica,sans-serif;
}

.validation-summary-valid {
    display: none;
}