/*

Diese Css-Datei beinhaltet Angaben, die
- von Amateuren wie Reto benötigt und erstellt wurden, und
- die vom Css-Master Jacques verifiziert, entsprechend bearbeitet und verschoben werden sollen. Merci :o)

*/

.article-editor 
{
    border:1px solid #000;
    padding: 5px;
}

/* Css: http://css.dzone.com/news/css-message-boxes-different-me */
/* Icons: http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960 */
.info, .success, .warning, .error, .validation, .validation-summary-errors {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/Content/Images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/Content/Images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/Content/Images/warning.png');
}
.error, .validation, .validation-summary-errors {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/Content/Images/error.png');
}


.tabs 
{
    margin: 3px;
}
.tabs ul 
{
    margin: 0;
    padding: 0;
}
.tabs li 
{
    display: inline;
    list-style-type: none;
    overflow: hidden;
}

.tabs a 
{
    border: 1px solid #000;
    font-weight: bold;
    padding: 5px 10px 3px 10px;
    background-color: #eee;
}

.tabs a.active 
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.tab 
{
    border: 1px solid #000;
    padding: 5px;
}