@model FieldViewModel

@{
    ViewBag.Title = "Eigenschaft löschen";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Eigenschaften", "List") &gt;
     L&Ouml;schen
}

<h2>Eigenschaft löschen</h2>
<p>Möchten Sie diese Eigenschaft wirklich löschen?</p>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Abbrechen", "Details", new { id = Model.Item.Id }) |
        @Html.ActionLink("Zurück zur Übersicht", "Index")
    </p>
}
