@using Phundus.Web
@{
    ViewBag.Title = "E-Mail-Adressen-Validierung";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; E-Mail-Adressen-Validierung
}

<h2>E-Mail-Adresse-Änderung</h2>

<p>Deine E-Mail-Adresse wurde erfolgreich geändert.</p>

<p>Du kannst dich nun @Html.ActionLink("anmelden", AccountActionNames.LogOn, ControllerNames.Account).</p>