@model phiNdus.fundus.Web.ViewModels.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Passwort zurücksetzen";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Passwort zurücksetzen
}

<h2>Passwort zurücksetzen</h2>

<p>Ein neues Passwort wurde an die angegebene E-Mail-Adresse gesendet.</p>