@inherits System.Web.Mvc.WebViewPage<dynamic>

<hr />
<footer>
    <div style="float: left; width: 33%">
        <p><a href="http://fundus.phindus.ch/help">Hilfe</a> | <a href="http://fundus.phindus.ch/feedback">Feedback</a></p>
    </div>
    <div style="float: left; width: 33%; text-align: center;">
        <p><a href="http://fundus.phindus.ch/">fundus</a> @Html.DisplayVersion()</p>
    </div>
    <div style="float: left; width: 33%; text-align: right;">
        <p><a href="http://youtrack.phindus.ch/">Bug &amp; Issue Tracker</a> | <a href="http://ci.phindus.ch/">Continuous Integration</a></p>
    </div>
</footer>
