@inherits System.Web.Mvc.WebViewPage<dynamic>

@if (Request.IsAuthenticated) {
    @:<a href="#">Hilfe</a> |
    @:<a href="#">@Html.ActionLink("Abmelden", "LogOff", "Account")</a>

} else {
    @:<a href="#">Hilfe</a> |
    @:<a href="#">@Html.ActionLink("Registrieren", "SignUp", "Account")</a> |
    @:<a href="#">@Html.ActionLink("Anmelden", "LogOn", "Account")</a>

}
 