@inherits System.Web.Mvc.WebViewPage<dynamic>

@if (Request.IsAuthenticated) {
    @:<a href="#">Mein Profil</a> |
    @Html.ActionLink("Warenkorb", "Index", "Cart") @:|
    @Html.ActionLink("Abmelden", "LogOff", "Account")
} else {
    @Html.ActionLink("Registrieren", "SignUp", "Account") @:|
    @Html.ActionLink("Anmelden", "LogOn", "Account")
}