@model phiNdus.fundus.Web.Models.ManagementModel

@{
    ViewBag.Title = "Verwaltung";
}

<div ng-app="ph.management" ng-init="organizationId='@Model.OrganizationId'">
    <div ng-view>
        <h2>Verwaltung</h2>
        <p>Modul wird geladen. Bitte warten...</p>
    </div>
</div>
