@{
    ViewBag.Title = "Verwaltung";
}

<div ng-app="ph.management" ng-init="organizationId=@Session["OrganizationId"] + 0;">
    <div ng-view>
        <h2>Verwaltung</h2>
        <p>Modul wird geladen. Bitte warten...</p>
    </div>
</div>
