<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/90407fc2-8264-40ce-87d4-c0410fd98e54/resourceGroups/phundus-test/providers/Microsoft.Web/sites/phundus-test</ResourceId>
    <ResourceGroup>phundus-test</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://phundus-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>phundus-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>phundus-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$phundus-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="phundus" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rip1.database.windows.net,1433;Initial Catalog=phundus-test;User ID=rip1@rip1.database.windows.net;Password=Bischk01" Name="Data Source=tcp:rip1.database.windows.net,1433;Initial Catalog=phundus-test;User Id=rip1@rip1.database.windows.net;Password=Bischk01;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLEXPRESS;Initial Catalog=phundus-dev;User ID=sa;Password=1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\phundus_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost\SQLEXPRESS; Database=phundus-dev; User Id=sa; Password=1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="phundus-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rip1.database.windows.net,1433;Initial Catalog=phundus-test;User Id=rip1@rip1.database.windows.net;Password=Bischk01;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>