@inherits System.Web.Mvc.WebViewPage<dynamic>
              
<p class="navbar-text pull-right">
@if (Request.IsAuthenticated)
{   
    @:<a href="#">Mein Profil</a> |
    {
        // hierrauf bin ich nicht wirklich Stolz, Änderungsvorschläge sind willkommen..
        var stateManager = Rhino.Commons.IoC.Resolve<phiNdus.fundus.Web.State.IStateManager>();
        var cartState = stateManager.Load<phiNdus.fundus.Web.Models.CartModel>();
    
        @Html.ActionLink("Warenkorb (" + cartState.Items.Count + ")", "Index", "Cart", null, new { id = "cart" }) @:|
    }
    @Html.ActionLink("Abmelden", "LogOff", "Account")
}
else
{
    @Html.ActionLink("Registrieren", "SignUp", "Account") @:|
    @Html.ActionLink("Anmelden", "LogOn", "Account")
}
</p>