@model phiNdus.fundus.Core.Business.Dto.ArticleDto
@using phiNdus.fundus.Core.Web.Helpers
@using phiNdus.fundus.Core.Web.Models

@*@using (Html.BeginContainerFor(m => m.Properties))
{
    Html.EditorFor(x => x.Properties);
}*@

<div>

@Html.IdFor(m => m.Id)

@*@Html.DropDownList(Html.IdFor(m => m.RemainingProperties), Model.RemainingProperties());*@
@Html.DropDownList("DropDownListRemainingProperties", Model.RemainingProperties())


@*@Ajax.ActionLink("Eigenschaft hinzufügen", "AddPropertyAjax", new { id = 0 },
                        new AjaxOptions { 
                            InsertionMode = System.Web.Mvc.Ajax.InsertionMode.InsertAfter,
                            HttpMethod="Get", UpdateTargetId="properties" })*@


<a href="#" id="addProperty" onclick="addProperty(); false;">Eigenschaft hinzufügen</a>

<script type="text/javascript">
    function removeProperty(element, container) {
        $container = $(element).parents(container);
        $container.fadeOut(500, function () { $(this).remove(); });
    }


    $('a#addProperty').click(function () {
        var id = $('select#@Html.IdFor(m => m)_DropDownListRemainingProperties').val();
        $.ajax({
            url: '/Article/AddPropertyAjax/' + id,
            dataType: 'html',
            type: 'GET',
            success: function (result) {

               
                $('div#@Html.IdFor(m => m.Properties)').append(result).hide().fadeIn(500);
                $("select#@Html.IdFor(m => m)_DropDownListRemainingProperties option[value='" + id + "']").each(function () {
                    $(this).remove();
                });
            }

        });
    });
</script>

</div>
@*@Html.Partial("_PropertiesEditor", Model)*@
