body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
}

/* custom Styles (draft jac)
-----------------------------------------------------------*/
.head-menu {
    /*height: 55px;*/
    background-color: #f0f0f0;
    border-bottom: solid 1px #109033;
    text-align: right;
    padding: 20px 5px 5px 0;
}

.main-menu 
{
    float: left;
}

a:link 
{
    text-decoration: none;
    /*color: #ad0;*/
    color: #a2bc13  ;
}

a:visited 
{
    color: #a2bc13;
}

a:hover
{
    text-decoration: none;
    color: #ad0;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Custom Styles */
.formular-box {
    border:solid 1px #109033; 
    background:#f0f0f0; 
    margin: auto; 
    padding:20px;
}
