body {    
    font-family: Arial, Helvetica, Sans-Serif;
    color: #505050;
    background-color: #fff;
    margin: 0;
}

/* Menü ganz zuoberst 
---------------------------------------------------------*/
.upper-menu {
    background-color: #f0f0f0;    
    text-align: right;
    padding: 20px 5px 5px 0;
    text-transform: uppercase;
    font-weight:bold;
    font-size:10px;
}

.upper-menu a {
    padding-left:5px;
    padding-right:5px;
}

.upper-menu a:link {
    text-decoration:none;
}

.upper-menu a:visited {
    text-decoration:none;
}

/* Hauptmenu (das grüne teil)
---------------------------------------------------------*/
.main-menu {
    height: 40px;
    padding-top:10px;
    color: #fff;
    font-size:12px;
    background: url('Images/fundus-menu-bg.png') repeat-x #109033;
}

.main-menu a {
    margin-left: 30px;    
    line-height: 30px;    
    color:#fff;
}

.main-menu a:link {
    color:#fff;
}

.main-menu a:visited {
    color:#fff;
}

/* Brotkrümel (pfad zur aktuellen seite)
---------------------------------------------------------*/
.breadcrumb {
    background-color: #000;
    color:#999;
    text-transform: uppercase;
    font-size:10px;
    width: 80%;
    margin: auto;
    padding: 10px;
    line-height: 6px;
}

.breadcrumb a {
    padding-left:5px;
    padding-right:5px;
    color: #fff;
}

.breadcrumb a:link {
    text-decoration: none;    
    color: #fff;
}

.breadcrumb a:visited {
    color: #f0f0f0;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: #505050;
}


a:link {
    text-decoration: none;    
    color: #109033;
}

a:visited {
    color: #109033;
}

a:hover {
    text-decoration: none;
    color: #ad0; /*170 221 000 */
}

/* formularelemente
---------------------------------------------------------*/
.formular-item .text-input {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid #ccc;
    width: 280px;
}

.formular-box .action {
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    /*width: 280px;*/
}

p.formular-item {
    /*margin-top: -10px;*/
}

p.formular-action {
    padding-top: 25px;
}

.formular-box label {
    color: #333;
    display: inline;
    font-weight: bold;
    padding-bottom: 3px;
    position: relative;
    /*font: 12px/1.55 Arial,Helvetica,sans-serif;*/
    font-size: 11px;
}

/* Tabellen
---------------------------------------------------------*/
.list {
    border-collapse: collapse;
}

.list td {
    padding:6px;
}

.list th {
    text-align: left;
    padding: 6px;
    border-bottom: solid 2px #505050;
}

tr.alt td {
    background: #f0f0f0;
}

tr.over td {
    background: #e9e9e9;
}

.list input {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid #ccc;
}

/* Validierung
---------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    display: inline;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 5px;
    position: relative;
    font: 12px/1.55 Arial,Helvetica,sans-serif;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
}


/* TODO, Jacques: Bitte prüfen. Ich, Reto, hab das rausgenommen. Siehe
                  gemeinsame Klassendefinition zur Zeit in ToVerify.css */
/*
.validation-summary-errors {
    color: #f00;
    display: inline;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 5px;
    position: relative;
    font: 12px/1.55 Arial,Helvetica,sans-serif;
}
*/

.validation-summary-valid {
    display: none;
}

/* temporärer fix datepicker*/
.ui-datepicker { background-color: #ccc; }