<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="uri" value="http://phundus.ch/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.connection_string"
                xdt:Transform="Replace" xdt:Locator="Match(name)">Data Source=localhost\SQLEXPRESS; Initial Catalog=fundus-Pfadi-Luzern; Integrated Security=SSPI</property>
    </session-factory>
  </hibernate-configuration>
</configuration>