@using Phundus.Web
@model FieldViewModel

@{
    ViewBag.Title = "Neue Eigenschaft";
}

<h2>Materialeigenschaften</h2>
<p></p>
@using (Html.BeginForm("Create", ControllerNames.Fields, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
    <legend>Neue Eigenschaft erstellen</legend>
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-actions">
        @Html.SubmitButton("Speichern")
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, FieldsActionNames.Index)
    </div>
    </fieldset>
}

