USE [${sql.database-name}];

SET ANSI_NULLS ON;

SET QUOTED_IDENTIFIER ON;

SET IDENTITY_INSERT [User] ON;
INSERT INTO [User] (Id, Version, RoleId, FirstName, LastName)
  VALUES (1, 1, 2, 'Dilbert', 'hat die Dinge');
INSERT INTO [User] (Id, Version, RoleId, FirstName, LastName)
  VALUES (2, 1, 1, 'Hans', 'will sie Haben');
INSERT INTO [User] (Id, Version, RoleId, FirstName, LastName)
  VALUES (4, 1, 2, 'Reto', 'Inderbitzin');
SET IDENTITY_INSERT [User] OFF;
  
INSERT INTO [Membership] (Id, Version, SessionKey, Password, Salt, Email, IsApproved, IsLockedOut, CreateDate)
  VALUES (1, 1, NULL, 'd77d9929e85306f64b45956b05c7d767' /* 1234 */, '123ab', 'admin@example.com', 1, 0, '2011-05-10');
INSERT INTO [Membership] (Id, Version, SessionKey, Password, Salt, Email, IsApproved, IsLockedOut, CreateDate)
  VALUES (2, 1, NULL, 'f98133418bcb271b4b428a79563a8eee' /* 1234 */, '234cd', 'user@example.com', 1, 0, '2011-05-10');
INSERT INTO [Membership] (Id, Version, SessionKey, Password, Salt, Email, IsApproved, IsLockedOut, CreateDate)
  VALUES (4, 1, NULL, 'f98133418bcb271b4b428a79563a8eee' /* 1234 */, '234cd', 'mail@indr.ch', 1, 0, '2011-10-10');

SET IDENTITY_INSERT [FieldDefinition] ON;  
INSERT [FieldDefinition] ([Id], [Version], [Name], [DataType], [IsSystem], [IsDefault], [IsColumn], [Position]) VALUES (101, 5, N'Checkliste Rückgabe', 5, 0, 1, 0, 13)
INSERT [FieldDefinition] ([Id], [Version], [Name], [DataType], [IsSystem], [IsDefault], [IsColumn], [Position]) VALUES (102, 2, N'Preis Privat', 3, 0, 0, 1, 2)
INSERT [FieldDefinition] ([Id], [Version], [Name], [DataType], [IsSystem], [IsDefault], [IsColumn], [Position]) VALUES (103, 3, N'Marke', 1, 0, 1, 0, 10)  
SET IDENTITY_INSERT [FieldDefinition] OFF; 
  
SET IDENTITY_INSERT [Article] ON;  
INSERT [Article] ([Id], [Type], [Version], [CreateDate], [ParentId]) VALUES (10001, N'phiNdus.fundus.Domain.Entities.Article', 4, CAST(0x0000A00B00CCC324 AS DateTime), NULL)
INSERT [Article] ([Id], [Type], [Version], [CreateDate], [ParentId]) VALUES (10002, N'phiNdus.fundus.Domain.Entities.Article', 3, CAST(0x0000A00B00DD4870 AS DateTime), NULL)
INSERT [Article] ([Id], [Type], [Version], [CreateDate], [ParentId]) VALUES (10003, N'phiNdus.fundus.Domain.Entities.Article', 2, CAST(0x0000A00B00DD7AD4 AS DateTime), NULL)
SET IDENTITY_INSERT [Article] OFF; 

INSERT [Image] ([Id], [Version], [ArticleId], [IsPreview], [Length], [Type], [FileName]) VALUES (294912, 1, 10001, 0, 24936, N'image/jpeg', N'~\Content\Images\Articles\10001\A03.jpg')
INSERT [Image] ([Id], [Version], [ArticleId], [IsPreview], [Length], [Type], [FileName]) VALUES (294913, 1, 10006, 0, 21589, N'image/jpeg', N'~\Content\Images\Articles\10006\A04.jpg')
INSERT [Image] ([Id], [Version], [ArticleId], [IsPreview], [Length], [Type], [FileName]) VALUES (294914, 1, 10007, 0, 25541, N'image/jpeg', N'~\Content\Images\Articles\10007\T01.jpg')

INSERT [FieldValue] ([Id], [Version], [FieldDefinitionId], [IsDiscriminator], [BooleanValue], [TextValue], [IntegerValue], [DecimalValue], [DateTimeValue], [ArticleId]) VALUES (131082, 1, 2, 0, NULL, N'Slackline', NULL, NULL, NULL, 10001)
INSERT [FieldValue] ([Id], [Version], [FieldDefinitionId], [IsDiscriminator], [BooleanValue], [TextValue], [IntegerValue], [DecimalValue], [DateTimeValue], [ArticleId]) VALUES (131083, 1, 103, 0, NULL, N'Gibbon', NULL, NULL, NULL, 10001)


UPDATE hibernate_unique_key SET next_hi = 11;
