@using System.Web.Configuration
@using Phundus.Web
@inherits System.Web.Mvc.WebViewPage<dynamic>

<div class="footer">
    <div class="container">
        <p>
            <a href="/#/feedback">Feedback</a><!-- &middot; <a href="https://github.com/indr/phundus">GitHub</a>--> &middot; <span class="glyphicon glyphicon-heart"></span> from the phundus.ch team
        </p>
        <p style="visibility: collapse"><span class="versionTag">@Html.DisplayVersion()</span></p>
    </div>
</div>
