@inherits System.Web.Mvc.WebViewPage<dynamic>
@using System.Web.Configuration               

<hr />
<footer>
    <div style="float: left; width: 33%">
        <p><@*a href="http://fundus.phindus.ch/help">Hilfe</a> |*@ @Html.ActionLink("Feedback", FeedbackActionNames.Index, ControllerNames.Feedback)</p>
    </div>
    <div style="float: left; width: 33%; text-align: center;">
        <p><span class="serverUrlTag"><a href="http://@WebConfigurationManager.AppSettings["ServerUrl"]">phundus</a></span> <span class="versionTag">@Html.DisplayVersion()</span></p>
    </div>
    <div style="float: left; width: 33%; text-align: right;">
        <p>@*<a href="http://youtrack.phundus.ch/">Bug &amp; Issue Tracker</a> |*@ <a href="http://ci.phundus.ch/">Continuous Integration</a></p>
    </div>
</footer>
