@model ArticleAvailabilityViewModel
      
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Menge</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Availabilites)
        {
            <tr>
                <td>@Html.DisplayFor(m => each.FromLocal)</td>
                <td>@Html.DisplayFor(m => each.Amount)</td>
            </tr>
        }
    </tbody>
</table>