@model ArticleViewModel
@{
    ViewBag.Title = "Artikel löschen";
}

<h2>Material</h2>
@using (Html.BeginForm()) {
    <fieldset>
    <legend>@ViewBag.Title</legend>
    <p>Möchten Sie diesen Artikel wirklich löschen?</p>
    <div class="form-actions">
        @Html.SubmitButton("Ja, löschen!", "btn-danger")
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, ArticlesActionNames.Index)
    </div>
    </fieldset>
}
