@{
    ViewBag.Title = "Index";
}

<h2>Home &gt; Index</h2>

<div style="width: 350px; height: 170px; border:solid 1px #109033; background:#f0f0f0; margin: auto; padding:20px;">
    <table>
        <tr>
            <td width="150px">E-Mail</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Passwort</td>
            <td><input type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="#">Anmelden</a></td>
        </tr>
    </table>
    <p style="vertical-align:bottom; text-align:right;">
    <br />
    <br />
    <br /><br />
    <a href="#">Registrieren</a>
    <br />
    <a href="#">Password vergessen?</a>
    
    </p>
</div>

