@{
    ViewBag.Title = "Index";
}

@section Breadcrumbs {
    <a href="#">Home</a> &gt; Index
}


<div class="hero-unit">
    <h1>Willkommen im fundus!</h1>
    <p>Dem Materialverlieh der Pfadi Luzern in Zusammenarbeit mit der Stiftung...</p>
    <p><a class="btn btn-primary btn-large" href="@Url.Action("Index", "Shop")">zum Shop »</a></p>
</div>
<div class="row">
    
    <div class="span6">
        <h2>Pfadi Luzern</h2>
        <p>Hier vielleicht eine Beschreibung was fundus ist?</p>
        <p>Hinweis auf den Vermieter, Pfadi, Stiftung.</p>
        <p>Fötelis vom Lager oder so. Keine Ahnung.</p>
        <p>Meiner Meinung vielleicht auch gleich ein Suchformular, oder die wichtigsten Funktionen verlinken.</p>
        <p>Und ganz wichtig: Telefonnummer und Adresse. Nichts ärgerlicher als die Kontaktdaten nicht zu finden!</p>
    </div>
    <div class="span4">
        <h2>Standort</h2>
        <p>Standort-Beschreibung und Karte usw.?</p>
    </div>
    <div class="span2">
        <h2>Kontakt</h2>
        <address>
            <strong>Pfadi Luzern</strong><br />
            Sekretariat<br />
            Rodteggstrasse 3<br />
            6005 Luzern<br /><br />
            <abbr title="Telefon">T:</abbr>
            041 368 40 35<br />
            <abbr title="Telefax">F:</abbr>
            041 368 42 94
        </address>
    </div>
</div>
